<h1 class="bg-dark text-light"><%= @user.first_name+" "+@user.last_name %></h1>
<p><%= "ID tag: "+@user.id.to_s %></p>
<ul class="bg-dark text-success h5">
  <li><%= "email: "+@user.email %></li>
</ul>
<br>
<%= render "users/ch2" %>
<br>
<br>
<br>
<% if can? :edit, @user %>
  <%= link_to("Edit",edit_user_path(@user)) %>
<% end %>
<%= link_to("Back to users",users_path) %>